/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* common styles and utilities  */
body{
    font-family: 'Poppins', sans-serif;
    
}
/* full website background  */
.whole-frame{
    width: 1440px;

background-color: whitesmoke;
}

/* top copa america part  */
.container{
    background-color: #2D25A0;
    width: 1440px;
    height: 677px;
    display: flex;
}
/* for event name and button part  */
.event-name{
    margin-top: 207px;
    margin-left: 156px;
}
.top-title h1{
    color: #FFFFFF;
    font-size: 64px;
    line-height: 80px;
    width: 485px;
height: 230px;
margin-bottom: 17px;
}
.watch-button{
    background-color: #E02C6D;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    width: 168px;
    height: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 24px;
    padding-left: 24px;
    margin-bottom: 169px;
}

/* for the top banner part on the right side  */
.top-banner{
    width: 556.01px;
height: 438px;
margin-top: 153px;
margin-right: 140.99px;
margin-bottom: 86px;
margin-left: 102px;
overflow: hidden;
}

/* norachora effect  */
.top-banner:hover{
    transform: scale(1.3) rotate(60deg);
    transition: transform 2s ease-in-out;
}

/* 2nd part contains all players info part  */
.players{
    margin-left: 180px;
    margin-right: 210px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* for individual player  */
.player{
    width: 330px;
    height: 474px;
    background-color: white;
    margin-top: 70px;
    margin-left: 30px;
    margin-bottom: 27px;
}
.player-name{
    font-size: 28px;
    font-weight: 700;
}
.player-brief{
    font-size: 16px;
    font-weight: 400;
}

.player img{
    width: 300px;
height: 256px;
margin-top: 15px;
margin-right: 15px;
margin-left: 15px;
}

/* gallery part  */
.gallery{
    color: #2D25A0;
    text-align: center;
    margin-top: 165px;
}
.match-picture{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 24px;
    width: 330px;
}
.match-picture img{
    width: 300px;
    height: 256px;
}
#first-image{
    margin-left: 80px;
}

/* sponsors part  */
.sponsors{
    text-align: center;
    margin-top: 165px;
    color: #2D25A0;
   
}
.sponsors a{
    text-decoration: none;
}
.sponsor-logo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
    
    
}

/* footer part  */
.last-part{
    
    text-align: center;
    margin-top: 158px;
    margin-bottom: 63px;
    
    
}
.last-part img{
    width: 483.87px;
height: 110px;
}
.last-part p{
    margin-top: 20px;
}

/* media queries  */

 @media only screen and (max-width:688px) {
    .whole-frame{
        flex-direction: column;
        width: 100%;
       
        margin-left: 0; 
    }

    /* upper part with title button and top banner  */
    .container{
        display: block;
        margin-left: 0;
        overflow: hidden;
    }
    .event-name{
        flex-direction: column;
        
        margin-left: 16px;
    }
    .top-banner{
        flex-direction: column;
        margin-left: 0;
        margin-top: 15px;
    }

    /* all players part  */
    .players{
        position: relative;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 24px;

    }

    /* gallery part  */
    
    .match-picture img{
        width: 50px;
        
    }

    /* sponsors part  */
    .sponsor-logo{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin-left: 0;
    }

    /* footer part  */
    .last-part img{
        width: 100%;
    }
   

    
} 

